body {
    font-family: monospace, cursive;
    z-index:-1;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 40px;
}
div.top-bar {
    background-color: #787878;
    position: fixed;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 6%;
    top: 0px;
    left: 0px;
    word-wrap: unset;
    overflow: hidden;
}
div.top-bar img {
    height: 100%;
}
div.top-bar span {
    position: relative;
    bottom: 38%;
    height: inherit;
    padding: none;
}
button {
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    height: 138%;
    position: relative;
    background-color: #787878;
    border: none;
    border-bottom: #979797;
}
button.side-bar {
    height: 30px;
    background-color: #97979759;
    left:-5px;
}
button.tab.selected {
    background-color: #3a6895a9;
}
button.tab.selected:active, button.tab.selected:hover {
    background-color: #3a6895a9;
}
button:active, button:hover {
    background-color: #acacac;
    cursor: pointer;
}
body {
    background-color: #9d9d9d;
}
.content {
    position: absolute;
    top: 6%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: calc(100% - 6%);
    width: 100%;
    overflow: hidden; 
    word-wrap: break-word;
}
.scroll {
    overflow-y: scroll;
}
div.container {
    margin-left: 2%;
    margin-right: 2%;
    align-items:stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
div.code-controls {
    font-size: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 15;
}
div.page {
    margin-right: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
.editcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(168, 160, 156);
}
.editwrapper{
    width: 90%;
    left: 0px;
    position: relative;
}
div.footer {
    background-color: ghostwhite;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 180px;
    position: relative;
}
div.right-bar {
    bottom: 15px;
    top: 15px;
    right: 35px;
    position: inherit;
    width: calc(25% - 35px);
    font-family: monospace;
    font-size: 15px;
}
div.canvas-div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 105%;
    background-color: #9d9d9d;
}

div.controls-div {
    position: inherit;
    height: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0px;
    background-color: #bababa;
}
div.canvas-div canvas {
    position: inherit;
    height: auto;
    width: 100%;
    top: 0px;
    background-color: white;
    
}
div.canvas-div.fullscreen canvas {
    --height-of-canvas: calc(100vh - 20px);
    height: var(--height-of-canvas);
    width: auto;
    left: calc((100vw - var(--height-of-canvas))/2);
    top: 20px;
}
div.info-div {
    position: inherit;
    height: 55px;
    width: 100%;
    top: -15px;
    margin-top: calc(105% + 15px);
}
div.cabneit {
    position: absolute;
    background-color: orange;
    height: auto;
    top: 0px;
    margin-top: calc(105% + 70px);
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 25px;
}
div.side-bar {
    bottom: 0px;
    top: 0px;
    background-color: beige;
    position: inherit;
    height: 100%;
    width: 15%;
}
div.side-bar.side-bar-in {
    left: calc(0px - 15%);
    animation: hide-side-bar 0.25s ease 0s 1;
}
div.side-bar.side-bar-out {
    left: 0px;
    animation: show-side-bar 0.25s ease 0s 1;
}
div.side-bar p {
    font-family: monospace;
    font-size: 25px;
}
a.side-bar-control {
    position: fixed;
    font-size: 20px;
    padding: 5px;
    background-color: beige;
    border-bottom-right-radius: 1rem;
}  
a.zoom {
    background-color: beige;
    border-radius: 1rem;
    padding: 10px;
    padding-bottom: 5px;
    margin: 5px;
    z-index: 15;
}
a.play-controls {
    background-color: rgb(255, 255, 192);
    border-radius: 1rem;
    position: absolute;
    font-size: 15px;
}
a.right-left {
    left: 30px;
}
a.right {
    right: 0px;
}
a.zoom.disabled, a.play-controls.disabled {
    background-color: rgb(111, 111, 91);
}
a.zoom.disabled:hover, a.play-controls.disabled {
    background-color: rgb(111, 111, 91);
    cursor: default;
}
a.side-bar-control:hover, a.zoom:hover, a.play-controls:hover {
    background-color: bisque;
    cursor: pointer;
}
div.code-space {
    position: inherit;
    right: calc(25% + 35px);
    top: 15px;
    bottom: 15px;
    font-family: monospace;
    overflow-x: hidden;
    word-wrap: unset;
    overflow: hidden;
}
div.code-space.code-small {
    left: calc(15% + 35px);
    animation: shrink-code-space 0.25s ease 0s 1;
}
div.code-space.code-large {
    left: 35px;
    animation: expand-code-space 0.25s ease 0s 1;
}
.code-text.xsmall {
    font-size: 10px;
}
.code-text.small {
    font-size: 15px;
}
.code-text.norm {
    font-size: 20px;
}
.code-text.large {
    font-size: 30px;
}
.code-text.xlarge {
    font-size: 45px;
}
.hidden {
    display: none;
}
@keyframes hide-side-bar {
    0% {
        left: 0px;
    }
    100% {
        left: calc(0px - 15%);
    }
}
@keyframes show-side-bar {
    0% {
        left: calc(0px - 15%);
    }
    100% {
        left: 0px;
    }
}
@keyframes expand-code-space {
    0% {
        left: calc(15% + 35px);
    }
    100% {
        left: 35px;
    }
}
@keyframes shrink-code-space {
    0% {
        left: 35px;
    }
    100% {
        left: calc(15% + 35px);
    }
}



/*Code-space lines css*/
#nums {
    width: inherit;
}
.nums {
    width: 50px;
    background-color: lightgrey;
}
#nums span {
    background-color: lightgrey;
    width: 25px;
    width: 100%;
    display: block;
    text-align: center;
} 
#edit {
    display: inline-block;
    outline: none;
    background: transparent;
    resize: none;
    overflow: hidden;
    border: none;
    white-space: none;
    font-size: inherit;
    color: transparent;
    caret-color: black;
    position: absolute;
    z-index: inherit;
    min-width: 100%;
    min-height: 70%;
}
#zoom-placeholder {
    display: inline-block;
    white-space: nowrap;
    border: none;
    outline: none;
    color: transparent;
    position: absolute;
    background-color: transparent;
    z-index: inherit;
    pointer-events: none;
}
#edit:hover, #edit:active {
    cursor: text;
}
#display {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
    font-size: inherit;
}
::selection {
    background-color: #ffd139;
}
a::selection, button::selection, img::selection {
    background-color: transparent;
}

/*Color Coding of the console*/
div.log {
    border-bottom: 1px solid black;
    font-family: monospace;
    font-size: 15px;
}
div.log.error {
    color: red;
}
div.log.warn {
    color: orange;
}

/*Color Coding*/

keyword, lKeyword {
    color: purple;
}
gwkey {
    color: rgb(158, 63, 0);
}
operator, loperator {
    color: blue;
}
punctuation {
    color: rgb(79, 62, 0);
}
strkeyword {
    color: orangered;
}
str, str keyword, str lKeyword, str operator, str loperator, str punctuation, str gwkey {
    color: green;
}
comment, comment keyword, comment lKeyword, comment operator, comment loperator, comment punctuation, comment str, comment str strkeyword, comment gwkey {
    color: #8a6046;
}
comment error, hidden {
    color: transparent;
}
error {
    color: red;
}
